word-form.vtl
<h1>Add a word</h1>

<p>Add a word here:</p>

<form action="/words" method="post">
  <label for="term">Word</label>
  <input id="term" name="term" type="text">
  <button type="submit" class="btn btn-default">Add Word</button>
</form>
